<div class="box-chat__content__form">
  <form class="d-flex align-items-center gap-3" (submit)="handleSendChat()" autocomplete="off">
    <button type="button" class="custom-button button-primary" (click)="toggleEmoji()">
      <i class="fa-solid fa-face-grin"></i>
    </button>
    <label for="imageFile" class="custom-button button-primary">
      <i class="fa-solid fa-plus"></i>
      <input id="imageFile" type="file" class="d-none" accept=""
             (change)="chooseFile($event)">
    </label>
    <div class="box-chat__content__form__input">
      <ng-container *ngIf="images.length != 0">
        <div class="box-chat__content__form__box-images">
          <ng-container *ngFor="let image of images">
            <div class="box-chat__content__form__box-images__item mt-2">
              <img id="image" src="{{image.url}}" alt="">
              <a  class="box-chat__content__form__box-images__item-remove" (click)="removeFile(image.id)" >
                <i class="fa-solid fa-xmark"></i>
              </a>
            </div>
          </ng-container>
        </div>
      </ng-container>
     <input placeholder="Write your message..." type="text" name="message" autocomplete="false"
             [(ngModel)]="message" (ngModelChange)="changeMessage($event)">
    </div>
    <button class="custom-button send-button" type="submit">
      <i class="fa-solid fa-paper-plane"></i>
    </button>
    <emoji-mart color="#1c9dea" class="emoji-container" [emojiTooltip]='false' [darkMode]='false' [skin]='3.0'
                [showPreview]="false" *ngIf="isEmojiPickerVisible" (emojiSelect)="addEmoji($event)"></emoji-mart>
  </form>
</div>
<div class="overlay-emoji" (click)="toggleEmoji()"></div>
