emoji-mart{
  position: absolute;
  bottom: 92px;
  background-color: white!important;
}
.box-chat__content__form {
  width: 100%!important;
  height: 95px;
  padding: 0px 20px;
  margin-bottom: 100px!important;
  position: relative;
}
.width_full{
  width: 100%!important;
}
.custom-button {
  width: 42px;
  height: 42px;
  border: none !important;
  outline: none !important;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 30px;
  margin-right: 20px;

}
.button-primary {
  background-color: rgba(28, 157, 234, .15) !important;
  color: #1c9dea !important;
  transition: all .3s ease;
}

.button-primary:hover {
  background-color: rgba(28, 157, 234, .25) !important;
}
.box-chat__content__form__input {
  flex: 1;
  width: 500px;
  border: #1c9dea solid 1px;
  border-radius: 40px;
  padding: 10px;
  margin-right: 10px;
}

.box-chat__content__form__input input {
  border: none !important;
  outline: none !important;
  width: 100%;
  font-size: 20px;
  color: #647589;
}
.send-button {
  background-color: #1c9dea !important;
  border-color: #1c9dea !important;
  color: white;
  transition: all .3s ease;
}

.send-button:hover {
  color: white;
  background-color: #1280c1 !important;
  border-color: #1280c1 !important;
}
.custom-button {
  width: 42px;
  height: 42px;
  border: none !important;
  outline: none !important;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.custom-button:hover .custom-button__name {
  visibility: visible;
  opacity: 1;
}

