<div class="box-chat__content__form">
  <form class="d-flex align-items-end gap-3" (submit)="handleSendChat()">
    <button type="button" class="custom-button button-primary" (click)="toggleEmoji()">
      <i class="fa-solid fa-face-grin"></i>
    </button>
    <label for="imageFile" class="custom-button button-primary">
      <i class="fa-solid fa-plus"></i>
      <input id="imageFile" type="file" class="d-none" accept="image/png, image/jpg, image/jpeg" multiple
             (change)="chooseFile($event)">
    </label>
    <div class="box-chat__content__form__input">
      <ng-container *ngIf="images.length != 0">
        <div class="box-chat__content__form__box-images">
          <ng-container *ngFor="let image of images">
            <app-upload-file [image]="image" [isUpload]="isUpload" (sendImage)="sendImage($event)"
                             (removeImage)="removeImage($event)"></app-upload-file>
          </ng-container>
        </div>
      </ng-container>
      <input placeholder="Write your message..." type="text" name="message" [(ngModel)]="message"
             (ngModelChange)="changeMessage($event)">
    </div>
    <button class="custom-button send-button" type="submit">
      <i class="fa-solid fa-paper-plane"></i>
    </button>
    <emoji-mart color="#1c9dea" class="emoji-container" [emojiTooltip]='false' [darkMode]='this.style === "dark-mode"'
                [skin]='3.0' [showPreview]="false" *ngIf="isEmojiPickerVisible"
                (emojiSelect)="addEmoji($event)"></emoji-mart>
    <div class="overlay-emoji" (click)="toggleEmoji()" [ngClass]="isEmojiPickerVisible ? 'show':'hidden'"></div>
  </form>
</div>
