<div class="box-chat__content__form">
  <form class="d-flex align-items-center gap-3" (submit)="handleSendChat()">
    <button type="button" class="custom-button button-primary" (click)="toggleEmoji()">
      <i class="fa-solid fa-face-grin"></i>
    </button>
    <label for="image" class="custom-button button-primary">
      <i class="fa-solid fa-plus"></i>
      <input id="image" type="file" class="d-none">
    </label>
    <div class="box-chat__content__form__input">
      <input placeholder="Write your message..." type="text" name="message" [(ngModel)]="message">
    </div>
    <button class="custom-button send-button" type="submit">
      <i class="fa-solid fa-paper-plane"></i>
    </button>
    <emoji-mart color="#1c9dea" class="emoji-container" [emojiTooltip]='false' [darkMode]='false' [skin]='3.0'
                [showPreview]="false" *ngIf="isEmojiPickerVisible" (emojiSelect)="addEmoji($event)"></emoji-mart>
  </form>
</div>
<div class="overlay-emoji" (click)="toggleEmoji()"></div>
