
#theme {
  display: none;
}


.dark-mode__button {
  width: 42px;
  height: 42px;
  border: none !important;
  outline: none !important;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  color: #223645 !important;
  background-color: #eff1f2 !important;
  transition: all .3s ease;
  overflow: hidden;
}

.dark-mode__button:hover {
  background-color: #d3d8db !important;
}

.dark-mode__button .sun {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all .3s ease;
}

.dark-mode__button .moon {
  position: absolute;
  left: 50%;
  top: -50%;
  transform: translate(-50%, -50%);
  transition: all .3s ease;
}

#theme:checked + .dark-mode__button .sun {
  top: 150%;
}

#theme:checked + .dark-mode__button .moon {
  top: 50%;
}
