<div class="d-flex h-100 gap-0">
  <app-sidebar [user]="user" (logout)="logout()"></app-sidebar>
  <div class="box-chat">
    <div class="box-chat__sidebar position-relative">
      <div class="box-chat__sidebar__header">
        <div class="box-chat__sidebar__header__title">
          <h3>Recent</h3>
          <p>Chat from your friends 😘</p>
        </div>
        <button class="custom-button button-light">
          <i class="fa-solid fa-expand"></i>
        </button>
      </div>
      <div class="box-chat__sidebar__header">
        <div class="box-chat__sidebar__header__title">
          <h3>Chats</h3>
          <p>Start New Conversation</p>
        </div>
        <app-search-chat></app-search-chat>
      </div>
      <div class="box-chat__group-button">
        <button class="active">Direct</button>
        <button>Group</button>
      </div>
      <app-button-add></app-button-add>
      <div class="box-chat__users">
        <app-group-chat [groups]="users" [connected]="room"></app-group-chat>
      </div>
    </div>
    <div class="box-chat__content">
      <app-box-chat class="chat-conversation" [room]="room" [user]="user">
      </app-box-chat>
      <div class="box-chat__content__form">
        <form class="d-flex align-items-center gap-3">

          <app-chat-bar></app-chat-bar>
        
        </form>
      </div>
    </div>
  </div>
</div>


