
.sidebar {
  width: 100px;
  height: 100vh;
  background: white;
  padding: 40px 0;
  border-right: 1px solid #eff1f2;
  display: flex;
  flex-direction: column;
  transition: all .3s ease;
}

.sidebar.hidden {
  width: 0 !important;
  overflow: hidden;
}

.sidebar__logo {
  text-align: center;
  padding-bottom: 35px;
  border-bottom: 1px solid #eff1f2;
  margin-bottom: 25px;
}

.sidebar__logo img {
  width: 40px;
  height: 40px;
}

.sidebar__avatar {
  position: relative;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  margin: 0 auto;
}

.sidebar__avatar img {
  width: 100%;
  border-radius: 50%;
}

.sidebar__avatar__name {
  position: absolute;
  min-width: max-content;
  left: 100%;
  top: 40%;
  padding: 5px 15px;
  border-radius: 0 50px 50px 50px;
  font-size: 13px;
  letter-spacing: 0.5px;
  color: white;
  background: #223645;
  font-weight: 500;
  text-transform: capitalize;
  margin-left: 5px;
  visibility: hidden;
  opacity: 0;
  transition: all .3s ease;
}

.sidebar__avatar:hover .sidebar__avatar__name {
  visibility: visible;
  opacity: 1;
}

.sidebar__group-button {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.custom-button {
  width: 42px;
  height: 42px;
  border: none !important;
  outline: none !important;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.custom-button__name {
  position: absolute;
  min-width: max-content;
  left: 100%;
  top: 40%;
  padding: 5px 15px;
  border-radius: 0 50px 50px 50px;
  font-size: 13px;
  letter-spacing: 1px;
  color: white;
  background: #223645;
  font-weight: 500;
  text-transform: capitalize;
  margin-left: 5px;
  visibility: hidden;
  opacity: 0;
  z-index: 2;
  transition: all .3s ease;
}

.custom-button:hover .custom-button__name {
  visibility: visible;
  opacity: 1;
}

.button-light {
  color: #223645 !important;
  background-color: #eff1f2 !important;
  transition: all .3s ease;
}

.button-light:hover {
  background-color: #d3d8db !important;
}

.button-primary {
  background-color: rgba(28, 157, 234, .15) !important;
  color: #1c9dea !important;
  transition: all .3s ease;
}

.button-primary:hover {
  background-color: rgba(28, 157, 234, .25) !important;
}

.send-button {
  background-color: #1c9dea !important;
  border-color: #1c9dea !important;
  color: white;
  transition: all .3s ease;
}

.send-button:hover {
  color: white;
  background-color: #1280c1 !important;
  border-color: #1280c1 !important;
}


/*================================================================================*/
.box-chat {
  display: flex;
  gap: 0;
  height: 100%;
  min-height: 100%;
  flex: 1;
}

.box-chat__sidebar {
  height: 100%;
  width: 400px;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #eff1f2;
}

.box-chat__sidebar__header {
  padding: 40px 40px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.box-chat__sidebar__header__title {
  position: relative;
  max-height: 58px;
}

.box-chat__sidebar__header__search {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 20px 30px;
  display: flex;
  align-items: center;
  transform: scale(0);
  transition: all .3s ease;
}

.box-chat__sidebar__header__search.show {
  transform: scale(1);
}

.box-chat__sidebar__header__search input {
  border: 1px solid #eff1f2 !important;
  outline: none !important;
  width: 100%;
  height: 100%;
  padding: 10px 50px 10px 50px;
  font-size: 16px;
  color: #647589;
}

.box-chat__sidebar__header__search button:first-child {
  position: absolute;
  border: none !important;
  outline: none !important;
  background: transparent;
  color: #647589;
  left: 20px;
}

.box-chat__sidebar__header__search button:last-child {
  position: absolute;
  border: none !important;
  outline: none !important;
  background: transparent;
  color: #647589;
  right: 20px;
}

.box-chat__sidebar__header__title h3 {
  font-size: 26px;
  font-weight: 800;
  color: #223645;
  margin: 0;
}

.box-chat__sidebar__header__title p {
  font-size: 15px;
  padding-top: 5px;
  font-weight: 600;
  color: #647589;
  margin: 0;
}

.box-chat__content {
  height: 100%;
  flex: 1;
  display: flex;
  gap: 0;
  flex-direction: column;
}

.box-chat__content__form {
  height: 95px;
  padding: 25px 45px;
}

.box-chat__content__form__input {
  flex: 1;
}

.box-chat__content__form__input input {
  border: none !important;
  outline: none !important;
  background-color: #eff1f2;
  color: #223645;
  border-radius: 50px;
  padding: 10px 24px;
  min-height: 30px;
  width: 100%;
  font-size: 16px;
  /*color: #647589;*/
}

.box-chat__group-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 40px 24px;
}

.box-chat__group-button button {
  font-size: 15px;
  font-weight: 700;
  padding: 10px 30px;
  min-height: 30px;
  border-radius: 8px;
  min-width: 150px;
  border: none !important;
  outline: none !important;
  background-color: #eff1f2;
  color: #223645;
  text-align: center;
  transition: all 0.3s ease;
  justify-content: center;
}

.box-chat__group-button button.active {
  background-color: rgba(28, 157, 234, 0.15);
  color: #1c9dea;
}

/*================================================================================*/
.box-chat__users {
  overflow-y: auto;
  flex: 1;
}


.box-chat__users__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.box-chat__users__item {
  display: flex;
  background: transparent;
  gap: 16px;
  padding: 16px 40px;
  cursor: pointer;
  transition: all .2s ease-out;
}


.box-chat__users__item__avatar {
  width: 50px;
  min-width: 50px;
  height: 50px;
  min-height: 50px;
  border-radius: 8px;
  overflow: hidden;


}

.box-chat__users__item__avatar img {
  width: 100%;
  border-radius: 8px;
  /*background: #eff1f2;*/
  /*padding: 10px;*/
}

.box-chat__users__item__content {
  padding: 0;
  flex: 1;

}

.box-chat__users__item__name {
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 200px;
  overflow: hidden;
  font-size: 15px;
  font-weight: 600;
  color: #223645;
  margin: 5px 0 0;
}

.box-chat__users__item__message {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 14px;
  font-weight: 400;
  color: #647589;
  margin: 0;
  letter-spacing: 0.15px;
  flex: 1;
  max-width: 150px;
}

.box-chat__users__item__time {
  font-size: 13px;
  font-weight: 500;
  padding: 0;
  margin: 0;
  color: #647589;
  letter-spacing: 0.15px;
}


.box-chat__users__item.active {
  background-color: rgba(28, 157, 234, 0.15);
  border-left: 4px solid #1c9dea;
}

.box-chat__users__item.active .box-chat__users__item__message {
  font-weight: 500;
  color: #1c9dea;
}

/*================================================================================*/

.chat-conversation {
  overflow-y: scroll;
  background-color: #eff7fe;
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 40px;
  /*position: relative;*/
}

.chat-conversation__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  background-color: #fff;
  box-shadow: 0 -55px 0 0 #eff7fe;
  border-bottom: 1px solid #eff1f2;
  z-index: 1;
  position: absolute;
  left: 40px;
  right: 49px;
}

.chat-conversation__avatar {
  width: 60px;
  height: 60px;
  border-radius: 10px;
  position: relative;
}

.chat-conversation__avatar:after {
  content: "";
  background-color: #3fcc35;
  position: absolute;
  height: 14px;
  width: 14px;
  border-radius: 100%;
  border: 2px solid #fff;
  right: -2px;
  top: -2px
}

.chat-conversation__avatar img {
  width: 100%;
  border-radius: 12px;
}

.chat-conversation__header__info {
  margin-left: 15px;
}

.chat-conversation__header__info__name {
  font-size: 15px;
  font-weight: 700;
  color: #223645;
  margin: 4px 0 0;
}

.chat-conversation__header__info__status {
  padding: 2px 15px;
  border-radius: 50px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: white;
  background: #3fcc35;
  font-weight: 500;
  letter-spacing: .25px;
  font-size: 12px;
  text-transform: capitalize;
  margin: 0;
}

/*================================================================================*/

.chat-conversation__content {
  list-style: none;
  margin: 0;
  height: 100%;
  padding: 120px 0 0;
  display: none;
}

.chat-conversation__content.show {
  display: block;
}

.chat-conversation__content.hidden {
  display: none !important;
}

.chat-conversation__background {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 400px;
  margin: auto;
  gap: 24px;
  padding: 100px 0 0;
}

.chat-conversation__background.show {
  display: flex;
}

.chat-conversation__background.hidden {
  display: none;
}

.chat-conversation__background img {
  width: 150px;
}

.chat-conversation__background__title {
  width: max-content;
  font-size: 20px;
  font-weight: 500;
  color: #91a0b2;
}

.chat-conversation__message-container {
  display: flex;
  gap: 16px;
}

.chat-conversation__message-container__name {
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 500;
  margin: 0;
  color: #223645;
}

.chat-conversation__message-container__time {
  font-size: 13px;
  margin: 0;
  font-weight: 500;
  color: #647589;
}

.chat-conversation__message-container__message {
  padding: 8px 15px;
  max-width: 500px;
  margin: 12px 0 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  border-radius: 50px;
  width: max-content;
  position: relative;
}

.chat-conversation__message-container__options {
  margin: 12px 0 0;
  width: 26px !important;
  height: 26px !important;
  font-size: 14px;
  display: none;
  cursor: pointer;
}

.chat-conversation__message-container__message:hover > .chat-conversation__message-container__options {
  display: flex;
}

.chat-conversation__message-container__message img {
  width: 100%;
  border-radius: 8px;
  margin: 10px 0;

}

.chat-conversation__message-container__message:last-child {
  margin-bottom: 12px;
}

.chat-conversation__message-container__message.left {
  border-radius: 0 10px 10px 10px;
  background-color: #1c9dea;
  color: #fff;
}


.chat-conversation__message-container__message.right {
  border-radius: 10px 0 10px 10px;
  background-color: #e5edf5;
  color: #223645;
  float: right;
}


.box-chat__users::-webkit-scrollbar,
.chat-conversation::-webkit-scrollbar,
.emoji-mart-scroll::-webkit-scrollbar {
  width: 10px;
}

.box-chat__users::-webkit-scrollbar-track,
.chat-conversation::-webkit-scrollbar-track,
.emoji-mart-scroll::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.box-chat__users::-webkit-scrollbar-thumb,
.chat-conversation::-webkit-scrollbar-thumb,
.emoji-mart-scroll::-webkit-scrollbar-thumb {
  background: #888;
}

.box-chat__users::-webkit-scrollbar-thumb:hover,
.chat-conversation::-webkit-scrollbar-thumb:hover,
.emoji-mart-scroll::-webkit-scrollbar-thumb:hover {
  background: #555;
}


/*Emojis*/

.emoji-container {
  position: absolute;
  bottom: 86px;
}

.emoji-mart {
  box-shadow: rgb(100 100 111 / 20%) 0 7px 29px 0;
}

.emoji-mart-category-label span {
  transform: translateY(-1px);
}
